.carousel__conteiner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
    }
    .carousel__conteiner1{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 10px;
    }
        
    .Carousel{
        padding-top: 1rem;
    }