.categories{
    padding: 2rem 0;
    background-color: #fff;
}
.categories__title{
font-size: 3rem;
margin-top: 8rem;
font-size: 3rem;
    background: #28445a;
    color: white;
    display: flex;
    padding: 56px 20px 85px 20px;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 8rem;}

.categories__contenedor{
    margin: 0 auto;
}
.categories__item h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
    background-color: #28445a;
    border-radius: 15px;
    padding: 4px;
    justify-content: center;
    color: #fff;

}

.categories__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding-top: 1rem;
    width: 85%;
}
.categories__item h2{
    font-size: 1rem;      
}
.categories__item{
   border-radius: 8px;
   position: relative;      
   text-decoration: none;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   background-size: contain;
}
.categories_paragraph{
    font-size: 1rem;
    line-height: 1.2;
}
.categories__img{
    
    transform: rotate(0deg);
    transition: transform 1s;
    height: 100%;
    width: 100%;
    border-radius: inherit;

}

.categories__item:hover .categories__img{
    transform: rotate(1deg);
}
