
main {
    min-height: 100vh;
}
.header {
    background-color:$color-principal;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}
.navbar-brand__logo{
    width: 100px;
    height: 100px;

}

.header__logo {
    height: 100%;
    width: 100%;
}

.nav {
    
    padding: 1rem;
}
.nav-item {
    font-size: 17px
}
.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px; 
}

.nav__item {
    margin-left: 20px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
}
