@media screen and (max-width:1023px){
    .section1__h2{
    font-size: 5rem;}

}
.section1__paragraph{
font-size: 1.1rem;}



@media screen and (max-width:780px) {
    .section1__h2{
        font-size: 4.0rem;
    }
    .section1__paragraph{
    font-size: 1rem;}
    
}



@media screen and (max-width:600px){
    .nav a{
        font-size: 0.7rem;
        width: 100%;
       
    }
.categories__item h2{
    padding: 1px;
}

    .section3{
        height: auto;
        margin: 0 auto;
        
    }
    .section2__title2{
        font-size: 2rem;
    }
    .section3__title3{
        font-size: 1.7rem;
    }
    .section3__cards{
        font-size: 0.7rem;
        height: auto;
        gap: 10%;
        display: flex;
       flex-wrap:wrap;
       margin-bottom: auto;
    }

    .section3__cards1{
        width: 100vw;
        margin-bottom: 59px;
    }
    .section3__cards2{
        width: 100vw;
        margin-bottom: 59px;
    }
    .section3__cards3{
        width: 100vw;
        margin-bottom: 59px;
    }
    
    .card__container{
        flex-wrap: wrap;
    }

    .card{
        width: 100vw;
    }
    .form-register{
      width: 300px;
      top: 16%;
      left: 10%;
      

    }
    .categories__grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr );
        gap: 12rem;
        padding-top: 4.4rem;
    
    }
    .categories_title span{
        font-size: 1rem;
    }
    
    .form-register p {
      height: 40px;
      text-align: center;
      font-size: 18px;
      line-height: 20px;
  }
  .categories__title{
font-size: 3.5rem;}
  .section1__text{
      font-size: 1.2rem;
  }
  .section1__h2{
      font-size: 3rem;
  }
  .section__help{
    
}
.section__help h2{
    font-size: 2rem;
    
}
.section__help p{
    font-size: 1rem;
    
}
  .section1__paragraph {
  font-size: 1rem;
  padding: 0;
}
  }

// .categories{
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
// }
// .carousel__image{
// height: 50vh;}
