section{
    &section3{
        margin-top: 100px;
        margin-bottom: 250px;
        position: relative;
        width: 100%;
        height: 500px;
       
    }div{
        display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }h3{
        font-size:2rem;
    }p{
        font-size: 2rem;
    margin-bottom: 5rem;
    }
}
$styles:(
margen: 0 auto,
display: flex,
contenido: center,
align: center,
ancho: 80%,
alto: 100%,
fuente:1.3rem,
espacio:5%,
);

.section3__cards{
    // margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
    // width: 80%;
    // height: 100%;
    // font-size: 1.3rem;
    // gap: 5%;
    margin:map-get($styles , margen );
    display: map-get($styles , display );
    justify-content: map-get($styles , contenido );
    align-items:map-get($styles , align ) ;
    width: map-get($styles , ancho );
    height: map-get($styles , alto );
    font-size: map-get($styles , fuente );
    gap: map-get($styles ,espacio );
    margin-bottom: 5rem;

  

}


.section3__cards h2{
    text-align: center;


}
.section3__cards h5{
    text-align: center;



}
.section3__cards1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 100%;
    position: relative;
    flex-direction: column;
    
}
.section3__cards1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 100%;
    position: relative;

}
.section3__cards2{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 100%;
    position: relative;

}
.section3__cards3{
    @extend .section3__cards2;
}
.section3__title3{
    font-size: 4rem;
}
.section3__cards{
    cursor: pointer;

}
.section3__cards1:hover{
    background-color: rgb(200, 200, 200);
}
.section3__cards2:hover{
    background-color: rgb(200, 200, 200);
}
.section3__cards3:hover{
    background-color: rgb(200, 200, 200);
}